* {
  font-family: system-ui;
  scroll-behavior: smooth;
}

body {
  margin: 2rem;
}

main {
  max-width: 1080px;
  margin: auto;
}

details > summary {
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: start;
  vertical-align: top;
}

th, td, details {
  padding: .5rem;
}

table, th, td, details {
  border: 1px solid gray;
}

svg {
  display: block;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    background: #121212;
    color: white;
    color-scheme: dark;
  }
}
